
body, h1,h2,h3,p,ul,li{
    margin:0;
    padding:0
    ; 
}
body{
    font-family:Arial,sans-serif;
    min-height:100vh;
    display:flex;
    flex-direction:column;
}
header{
    display:flex;
    padding:20px;
    background-color:#333;
    color:orangered;


}
main{
    align-items: center;
    text-align:center
    
}
section{
    color: orangered    ;
    background-color: black ;
}
.logo{
    float:left;
    display: block;
}
.logo img{
    max-height:60px;  


}
.college-info{
    margin-left:900px;
    float:right;
    
}
nav{
    background-color:#444;
}
.menu {
    display:flex;
    list-style:none;
    padding:10px;
}
.menu li{
    margin-right:20px;
}
.menu a{
    color:orangered;
    text-decoration:none;

}
img{
    max-width:900px;
    height:auto
    
}

.submenu-content {
    display:none;
    position:absolute;
    background-color:#444;
    list-style:none;
    padding:10px;
}
.submenu:hover .submenu-content {
    display:block;

}
.submenu-content li {
    margin:5px 0;

}
li a.hover {
    background-color:white;
    color:black;

}
footer {
    margin-top:auto;
    background-color:#333;
    color:white;
    text-align:center;
    padding:20px;

}
.social-links img {
    height:3px;
    margin:0 5px;

}
.social-link a {
color:#fff;
text-decoration:none;
margin:0 2px;
}
header {
        flex-direction:column;
    }
.main.content{
    width:600px;
    height: auto;
    align-items: center;
    background-color: black;    

}

